body {
        font-family: 'Lato', sans-serif;
}

header {
        background: #F1F3EE;
}

.logo {
        float: left;
        margin: 3rem 0;
}

header li {
        display: inline-block;
        font-size: 1rem;
        cursor: pointer;
        padding: 3rem 1.875rem;
        line-height: 1rem;
        transition: all .7s;
        border-right: 0.0625rem solid #ccc;
}

header li:nth-of-type(1) {
        border-left: 0.0625rem solid #ccc;
}

header li:hover {
        background-color: #F96908;
        color: #ededed;
}

.main-container {
        width: 90%;
        margin: 0 auto;
}

header nav {
        float: right;
}

.navicon {
        position: relative;
        display: none;
        height: 7rem;
        width:7rem;
        background-color: #F96908;
        float: right;
        padding: 0.625rem 2.25rem;
}

.navicon span {
        display: block;
        width: 2.5rem;
        height: 0.25rem;
        background: #fff;
        margin-top: 1.25rem;
        transition: all .7s;
}

.navicon.active span:nth-of-type(1) {
        margin: 0;
        position: absolute;
        top:50%;
        transform: translateY(-50%) rotate(225deg);
}

.navicon.active span:nth-of-type(2) {
        display: none;
}

.navicon.active span:nth-of-type(3) {
        margin: 0;
        position: absolute;
        top:50%;
        transform: translateY(-50%) rotate(-225deg);
}

@media (max-width:64rem) {
        .navicon {
                display: block;
        }
        nav {
                display: none;
        }
}
